<div class="container mt-5">
    <h1 class="text-dark"><%= @post.title %></h1>
    <p><%= @post.body %></p>
    <p>
        <strong>Author:</strong>
        <%= @post.author.present? ? @post.author : "Anonymous" %>
    </p>
    <hr>
    <h3>Comments:</h3>
    <% if @post.comments.any? %>
    <ul>
        <% @post.comments.each do |comment| %>
        <li>
            <p><strong><%= comment.author.present? ? comment.author : "Anonymous" %>:</strong></p>
            <p><%= comment.body %></p>
        </li>
        <% end %>
    </ul>
    <% else %>
    <p>There are no comments yet. Be the first to comment!</p>
    <% end %>

    <hr>

    <h4>Add comment:</h4>
    <%= form_with model: [@post, Comment.new], local: true do |form| %>

    <% unless user_signed_in? %>
    <div class="form-group">
        <%= form.label :author, "Your name (optional)" %>
        <%= form.text_field :author, class: "form-control" %>
    </div>
    <% end %>

    <div class="form-group">
        <%= form.label :body, "Write your comment" %>
        <%= form.text_area :body, class: "form-control", rows: 3 %>
    </div>

    <div class="form-group mt-3">
        <%= form.submit "Comment", class: "btn btn-primary" %>
    </div>
    <% end %>
</div>