<!-View para Listar Posts->
    <div class="bg-light">
        <div class="container mt-5 bg-light">
            <p class="text-center bg-light text-dark mt-2 p-2"> Posts mais recentes: </p>
            <% @posts.each do |post| %>
            <div class="card mb-3 h-50 ">
                <div class="card-body text-dark">
                    <h2 class="card-title text-dark"><%= link_to post.title, post, class:"text-dark" %></h2>
                    <p class="card-text"><%= truncate(post.body, length: 150) %></p>
                    <%= link_to 'Leia mais', post, class: 'btn btn-info text-dark'%>
                </div>
            </div>
            <%end%>

            <div class="d-flex justify-content-center mt-4">
                <%= will_paginate @posts, renderer: BootstrapPagination::Rails, class: 'pagination' if defined?(BootstrapPagination::Rails) %>
            </div>

            <%= will_paginate @posts, class: 'pagination justify-content-center' %>


        </div>
    </div>