<div class="container mt-5">
    <%= form_with model: @post, local: true do |f| %>
    <div class="form-group">
        <%= f.label :title, "Título" %>
        <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :body, "Conteúdo" %>
        <%= f.text_area :body, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :description, "Descrição" %>
        <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :author, "Autor" %>
        <%= f.text_field :author, class: "form-control" %>
    </div>

    <%= f.submit "Salvar Post", class: "btn btn-primary mt-3" %>
    <% end %>
</div>