<div class="container mt-5">
    <h1><%= @post.title %></h1>
    <p><%= @post.body %></p>
    <p><strong>Autor:</strong> <%= @post.user.email %></p>
    <hr>

    <h3>Comentários</h3>
    <%= render @comments %>

    <h4>Adicionar Comentário</h4>
    <%= form_with(model: [@post, @comment], local: true) do |form| %>
    <div class="form-group">
        <%= form.label :body, "Seu Comentário" %>
        <%= form.text_area :body, class: "form-control", rows: 3 %>
    </div>
    <div class="form-group mt-3">
        <%= form.submit "Enviar", class: "btn btn-primary" %>
    </div>
    <% end %>
</div>